body {
    background: rgb(179, 178, 177);
  
    }

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
    "sidenav header" 
    "sidenav content" 
    "sidenav content" 
    "sidenav content"
    "sidenav content"
    }

.sidenav {
height: 100%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
}
.header {

}
.content {

}